/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

/* Dark mode colors */
:root.dark {
	--accent: #7C8FFF;
	--accent-dark: #535FD7;
	--black: 255, 255, 255;
	--gray: 170, 184, 218;
	--gray-light: 38, 44, 60;
	--gray-dark: 220, 228, 255;
	--gray-gradient: rgba(var(--gray-light), 50%), #1a1b26;
}

@font-face {
	font-family: 'Wenkai'; /* 自定义字体名称 */
	src: url('/fonts/LXGWWenKaiGBScreen.ttf') format('truetype'); /* 指向 public 目录中的字体文件 */
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Wenkai','Atkinson', sans-serif;
	margin:0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 16px;
	line-height: 1.7;
}

.dark body {
	background-color: #1a1b26;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
	letter-spacing: 0.8px;
}
/* 段落之间 */
.prose p {
	margin-bottom: 1em;
}

/* 列表样式 */  
ul, ol {  
    padding-left: 2em;  
    margin: 0.5em 0;     /* 减小列表的上下间距 */  
}  

ul li, ol li {  
    margin: 0.3em 0;     /* 减小列表项之间的间距 */
	letter-spacing: 0.8px;  
}  

/* 如果列表紧跟在段落后面，减少间距 */  
p + ul, p + ol {  
    margin-top: -1em;  /* 负边距可以减少段落和列表之间的空间 */  
}  

/* 嵌套列表样式 */  
ul ul,  
ul ol,  
ol ul,  
ol ol {  
    margin: 0.2em 0;     /* 减小嵌套列表的间距 */  
}  


textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 3px 8px;
	background-color: rgb(var(--gray-light));
	border-radius: 5px;
}
pre {
	padding: 1em;
	border-radius: 8px;
}
pre > code {
	all: unset;
	display: block;           /* 块级显示 */  
    font-family: monospace;   /* 等宽字体 */  
    color: #333;             /* 文本颜色 */ 
	height:auto;
	line-height: 1.3;
}
blockquote {
	border-left: 3px solid rgb(77, 76, 76);
	padding: 0 0 0 10px;
	margin: 0px;
	margin-left: 0.7em;
	font-size: 0.9em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}



@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}
